<% provide(:title, "Home") %>

<!-- <div class="row"> --><!-- Begin Hero -->
	<div class="hero">
		<div class="hero-wrapper">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-5 hero-hi">
						hi.
					</div>
					<div class="col-md-7 hero-credentials">
						<div class="row" id="hero-name">
							<div class="col-md-12">
								Larissa Tater
							</div>
						</div>
						<div class="row" id="hero-title">
							<div class="col-md-12">
								software developer
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- </div>  --><!-- End Hero -->

<div class="container">
	<div class="row"> <!-- Begin About -->
		<div class="col-md-12">
			<div class="col-md-2">
				<h1>Interests</h1>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-3">
						<%= image_tag("interests/mtb.jpg", class: "interest-image") %>
					</div>
					<div class="col-md-3">
						<%= image_tag("interests/istanbul.jpg", class: "interest-image") %>
					</div>
					<div class="col-md-3">
						<%= image_tag("interests/new-zealand.jpg", class: "interest-image") %>
					</div>
					<div class="col-md-3">
						<%= image_tag("interests/verona.jpg", class: "interest-image") %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<%= image_tag("interests/longhorns.jpg", class: "interest-image") %>
					</div>
					<div class="col-md-3">
						<%= image_tag("interests/softball.jpg", class: "interest-image") %>
					</div>
					<div class="col-md-3">
						<%= image_tag("interests/lucy.jpg", class: "interest-image") %>
					</div>
					<div class="col-md-3">
						<%= image_tag("interests/wesley.jpg", class: "interest-image") %>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- End About -->
</div> <!-- Close container -->

<div class="wrapper"> <!-- Begin About: Blurb -->
	<div class="about-me">
		<div class="row">
			<div class="col-md-12">
				<div class="about-me-copy">
					<div class="center">
						<h1>Hi. I'm Larissa.</h1>
						<hr />
						<h2>Are you looking for someone who can code and is great with clients? Contact me.</h2>
						<%= link_to image_tag("social/email.png", class: "social-icon"), "mailto:larissa.tater@gmail.com" %>
						<%= link_to image_tag("social/linkedin.png", class: "social-icon"), "https://www.linkedin.com/in/ltater", target: "_blank" %>
						<%= link_to image_tag("social/github.png", class: "social-icon"), "https://www.github.com/ltater", target: "_blank" %>
				</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> <!-- End About: Blurb -->

<div class="container"> <!-- Begin Resume -->
	<div class="row wrapper">
		<div class="col-md-12">
			<div class="col-md-2">
				<h1>Resume</h1>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12 main-job">
						<h1>Independent Contractor</h1>
						<h3>Software Developer & Communications Specialist</h3>
						<p>Software Developer: Design and build front- and back-end web applications to client specifications, as well as consult on scalable database solutions.</p>
						<p>Communications Manager: Led communication with the FDA and Texas Animal Health Commission to support funding for fever tick drug testing in cattle.</p>
						<p>Grant Writer: Obtained $88,000 in federal grants and $3,600 in state grants.</p>
						<p>Copywriter: Head copywriter for a Fortune 15 company and other clients.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="job">
							<h1>General Assembly</h1>
							<h3>Web Development Immersive Student</h3>
							<p>Expanded upon knowledge of front- and back-end languages and corresponding technologies and methodologies.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="job">
							<h1>Sprinklr</h1>
							<h3>Enablement Consultant</h3>
							<p>Owned client relationships through the implementation process. Designed software user experiences to scale. Managed timelines and expectations.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="job">
							<h1>The Woodhouse Day Spa</h1>
							<h3>Social Media & Content Strategist</h3>
							<p>Consultant for 40+ franchise partners with a focus on digital marketing and social analytics. Provided strategic consultation based on data analysis.</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="job">
							<h1>Blackbaud</h1>
							<h4>(formerly Convio)</h4>
							<h3>Web Development Immersive Student</h3>
							<p>Designed strategic plans for cultivation, acquisition, and digital marketing programs backed by data analysis and testing, as well as trained clients.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="job">
							<h1>Charity Dynamics</h1>
							<h3>Project Implementation Specialist</h3>
							<p>Managed accounts and upsell opportunities. Troubleshot support issues, built front-end systems, and coordinated internal team deliverables.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="education">
							<h1>Education</h1>
							<h3>The University of Texas at Austin</h3>
							<p>Bachelor of Journalism</p>
							<h3>General Assembly</h3>
							<p>Web Development Immersive</p>
							<h3>Stanford</h3>
							<h4>(online continuing education)</h4>
							<p>Computer Science</p>
						</div>
					</div>
				</div>
				
				<div class="row resume-skills wrapper">
					<div class="col-md-12">
						<h1 id="skills-header">Programming Skills</h1>
					</div>

					<div class="row">
						<div class="col-md-12">
							<%= image_tag("resume/html5.png", class: "resume-lang") %>
							<%= image_tag("resume/css3.png", class: "resume-lang") %>
							<%= image_tag("resume/javascript.png", class: "resume-lang") %>
							<%= image_tag("resume/jquery.gif", class: "resume-lang") %>
							<%= image_tag("resume/json.png", class: "resume-lang") %>
							<%= image_tag("resume/ajax.png", class: "resume-lang") %>
							<%= image_tag("resume/ruby-rails.png", class: "resume-lang") %>
							<%= image_tag("resume/postgresql.png", class: "resume-lang") %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<%= image_tag("resume/mongodb.png", class: "resume-lang-long") %>
							<%= image_tag("resume/heroku.png", class: "resume-lang-long") %>
							<%= image_tag("resume/amazon-web-services.png", class: "resume-lang-long") %>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- End Resume -->
	</div> <!-- Close Row Wrapper -->
</div> <!-- Close Container -->

<div class="wrapper"> <!-- Begin About: Blurb -->
	<div class="about-me">
		<div class="row">
			<div class="col-md-12">
				<div class="contact">
					<h2>Want to learn more?</h2>
					<%= link_to image_tag("social/email.png", class: "social-icon"), "mailto:larissa.tater@gmail.com" %>
					<%= link_to image_tag("social/linkedin.png", class: "social-icon"), "https://www.linkedin.com/in/ltater", target: "_blank" %>
					<%= link_to image_tag("social/github.png", class: "social-icon"), "https://www.github.com/ltater", target: "_blank" %>
				</div>
			</div>
		</div>
	</div>
</div> <!-- End About: Blurb -->

<div class="container"> <!-- Begin Projects -->
	<div class="row wrapper">
		<div class="col-md-12">
			<div class="col-md-2">
				<h1>Projects</h1>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12 main-job">
						<h1>TimeSwappers: Phase 1</h1>
						<hr />
						<%= image_tag("project/timeswappers.png", class: "project-img-right") %>
						<p>TimeSwappers allows members to trade services for time, rather than money. Members browse ways to "spend" their time, as well as ways to "earn" more time. Members interact and close deals through the site and later rate and review the services once they are complete.</p>
						<p><strong>Phase 1</strong> included building a prototype for users to test the TimeSwapping idea. In order for users to have a full understanding of how TimeSwappers works, I fully fleshed out the user flow to include browsing services, entering into contracts, and filling out reviews.</p>
						<p>The app is not currently backed by a database; however, all design and flow is crafted with the database in mind.</p>
						<h4>Technology and Methodologies</h4>
						<ul>
							<li>HTML + CSS</li>
							<li>Ruby on Rails</li>
							<li>Consulted with UX team on functionality</li>
							<li>Conceptualized, designed, and wireframed the transactional user flow around database architecture and concerns</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 main-job">
						<h1>M.A.S.H.</h1>
						<hr />
						<div class="project-img-div-left">
							<%= image_tag("project/mash-app.png", class: "project-img-left") %>
						</div>
						<div class='about-project-right'>
							<h4>About M.A.S.H.</h4>
							<p>M.A.S.H. is the childhood game of chance that chooses your adult life for you.</p>
							<p>The app was completed with several of my General Assembly classmates as our first Ruby on Rails application.</p>
							<h4>Technology and Methodologies</h4>
							<ul>
								<li>HTML + CSS</li>
								<li>Ruby on Rails</li>
								<li>PostgreSQL</li>
								<li>Daily Agile scrums</li>
								<li>Git and GitHub as a group</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 main-job">
						<h1>Chat App</h1>
						<hr />
						<%= image_tag("project/chat-app.png", class: "project-img-right") %>
						<div class="about-project-left">
							<h4>About the Chat App</h4>
							<p>This chat app is like any other ordinary chat app. I wanted to learn more about Sockets, so I woke up at 5am, before class, every morning until I figured it out.</p>
							<h4>Technology and Methodologies</h4>
							<ul>
								<li>Node.js</li>
								<li>Sockets</li>
								<li>jQuery</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- End Projects -->
	</div> <!-- Close Row Wrapper -->
</div> <!-- Close Container -->