<% provide(:title, "Projects") %>
<% provide(:page_description, "This page dynamically populates via a Projects database. As projects are added to the database, they will appear on this page. The technology section is missing because I am still creating the Join Table that will eventually populate page. The MASH App was created using Ruby on Rails, and the Chat App was created using Node.js.") %>

<%= render 'shared/about_this_page' %>

<% @projects.each do |project| %>
<div class="col-sm-6 col-md-6">
	<div class="panel panel-primary">
		<div class="panel-heading"><%= project.name %></div>
		<div class="panel-body">
			<%= image_tag(project.image) %>
			<p><strong>Description:</strong> <%= project.description %></p>
			<p><strong>Technologies:</strong></p>
			<p><strong>Comments:</strong> <%= project.comment %></p>
		</div>
	</div>
</div>
<% end %>