<% provide(:title, "Projects") %>
<% provide(:page_description, "This is the page description") %>

<%= render 'shared/about_this_page' %>

<% @projects.each do |project| %>
<div class="col-sm-6 col-md-6">
	<div class="panel panel-primary">
		<div class="panel-heading"><%= project.name %></div>
		<div class="panel-body">
			<%= image_tag(project.image) %>
			<p><strong>Description:</strong> <%= project.description %></p>
			<p><strong>Technologies:</strong></p>
			<p><strong>Comments:</strong> <%= project.comment %></p>
		</div>
	</div>
</div>
<% end %>