<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li><%= link_to "Dashboard", root_path %></li>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Projects", projects_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
			</ul>
			<hr />
			<p>Just for fun</p>
			<ul class="nav nav-sidebar">
				<li><a href="#">What happened today? [Title: Today's News]</a></li>
				<li><%= link_to "Do you like to travel?", travel_path %></li>
				<li><a href="#">Want to play a game? [Title: Play x game]</a></li>
				<li><a href="#">Sitting at a bar? [Title: Figure out your tip]</a></li>
			</ul>
		</div>
	<div class="col-sm-3 col-md-2"></div> <!-- whitespace for sidenav partial -->
		<div class="col-sm-9 col-md-10 main">
			<h1 class="page-header"><%= yield(:title) %></h1>
	
	<!-- Begin main yield -->